<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd"
	default-autowire="byName">

    <!-- 加载配置文件 -->
    <context:property-placeholder location="classpath*:env/memcached/memcached.properties"
                                  file-encoding="utf-8" ignore-unresolvable="true"/>


    <bean name="memcachedClientBuilder" class="net.rubyeye.xmemcached.XMemcachedClientBuilder">
        <!-- XMemcachedClientBuilder have two arguments.First is server list,and second is weights array. -->
        <constructor-arg>
            <list>
                <bean class="java.net.InetSocketAddress">
                    <constructor-arg value="${memcached.server1.host}"/>
                    <constructor-arg value="${memcached.server1.port}"/>
                </bean>
                <!--<bean class="java.net.InetSocketAddress">-->
                <!--<constructor-arg>-->
                <!--<value>${memcached.server2.host}</value>-->
                <!--</constructor-arg>-->
                <!--<constructor-arg>-->
                <!--<value>${memcached.server2.port}</value>-->
                <!--</constructor-arg>-->
                <!--</bean>-->
            </list>
        </constructor-arg>
        <constructor-arg>
            <list>
                <value>${memcached.server1.weight}</value>
                <!--<value>${memcached.server2.weight}</value>-->
            </list>
        </constructor-arg>
        <!--配置一致性哈希算法、连接池等-->
        <property name="connectionPoolSize" value="${memcached.connectionPoolSize}"/>
        <property name="commandFactory">
            <bean class="net.rubyeye.xmemcached.command.TextCommandFactory"/>
        </property>
        <property name="sessionLocator">
            <bean class="net.rubyeye.xmemcached.impl.KetamaMemcachedSessionLocator"/>
        </property>
        <property name="transcoder">
            <bean class="net.rubyeye.xmemcached.transcoders.SerializingTranscoder" />
        </property>
    </bean>
    <!-- Use factory bean to build memcached client -->
    <bean name="memcachedClient" factory-bean="memcachedClientBuilder"
          factory-method="build" destroy-method="shutdown"/>
</beans>

						

